@model IEnumerable<SallesWebMvc.Models.Seller>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Sellers</h2>


<table class="table table-hover table-striped">
    <thead>
        <tr class="success">
            <td>@Html.DisplayNameFor(Model => Model.Name)</td>
            <td>@Html.DisplayNameFor(Model => Model.Email)</td>
            <td>@Html.DisplayNameFor(Model => Model.BirthDate)</td>
            <td>@Html.DisplayNameFor(Model => Model.BaseSalary)</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(xitem => item.Name)</td>
            <td>@Html.DisplayFor(xitem => item.Email)</td>
            <td>@Html.DisplayFor(xitem => item.BirthDate)</td>
            <td>@Html.DisplayFor(xitem => item.BaseSalary)</td>
            <td><a asp-action="Edit" asp-route-id="@item.Id">Edit</a></td>
            <td><a asp-action="Details" asp-route-id="@item.Id">Details</a></td>
            <td><a asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
        </tr>
        }
    </tbody>
</table>